In [6]:
import json
import pandas as pd

In [7]:
with open('intermediate_file_paths.json') as output_path_file:
    output_paths = json.load(output_path_file)

EPA_AQI_INPUT_PATH = output_paths.get('stage0_epa_aqi_csv')

In [8]:
AQI_PER_YEAR_OUTPUT_PATH = output_paths.get('stage1_epa_aqi_per_year_csv')

In [9]:
epa_aqi_df = pd.read_csv(EPA_AQI_INPUT_PATH)

# Display the column headers and basic information for the politician dataset
print("\n EPA AQI Memphis Column Headers:")
print(epa_aqi_df.columns)

print("\nEPA AQI Memphis - Basic Info:")
print(epa_aqi_df.info())

print("\nEPA AQI Memphis - First 5 Rows:")
print(epa_aqi_df.head())

 EPA AQI Memphis Column Headers:
Index(['site_code', 'site_name', 'pollutant_number', 'pollutant_name',
       'local_date', 'aqi'],
      dtype='object')

EPA AQI Memphis - Basic Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 407832 entries, 0 to 407831
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   site_code         407832 non-null  int64
 1   site_name         251825 non-null  object
 2   pollutant_number  407832 non-null  int64
 3   pollutant_name    407832 non-null  object
 4   local_date        407832 non-null  int64
 5   aqi               407832 non-null  int64
dtypes: int64(4), object(2)
memory usage: 18.7+ MB
None

EPA AQI Memphis - First 5 Rows:
   site_code site_name  pollutant_number  pollutant_name  local_date  aqi
0         19       NaN             42401  Sulfur dioxide    19670102   29
1         19       NaN             42401  Sulfur dioxide    19670102   29
2         19       NaN             42401  Sulfur dioxide    19670103   29
3         19       NaN             42401  Sulfur dioxide    19670103   29
4         19       NaN             42401  Sulfur dioxide    19670105   29

In [10]:
# Load the epa_aqi_df dataset
epa_aqi_df = pd.read_csv(EPA_AQI_INPUT_PATH)

# Extract the 'year' from 'local_date' and add it as a new column
epa_aqi_df['year'] = epa_aqi_df['local_date'].astype(str).str[:4].astype(int)

# Group by 'year', 'site_code', 'site_name', 'pollutant_number', and 'pollutant_name' and calculate the average 'aqi'
annual_aqi_df = epa_aqi_df.groupby(
    ['year', 'site_code', 'site_name', 'pollutant_number', 'pollutant_name'],
    as_index=False
)['aqi'].mean()

# Rename the columns as needed for clarity
annual_aqi_df = annual_aqi_df.rename(columns={'aqi': 'average_aqi'})

In [11]:
# Display the column headers and basic information for the politician dataset
print("\n EPA AQI Memphis PER YEAR Column Headers:")
print(annual_aqi_df.columns)

print("\nEPA AQI Memphis PER YEAR - Basic Info:")
print(annual_aqi_df.info())

print("\nEPA AQI Memphis PER YEAR - First 5 Rows:")
print(annual_aqi_df.head())

 EPA AQI Memphis PER YEAR Column Headers:
Index(['year', 'site_code', 'site_name', 'pollutant_number', 'pollutant_name',
       'average_aqi'],
      dtype='object')

EPA AQI Memphis PER YEAR - Basic Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 402 entries, 0 to 401
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   year              402 non-null    int64
 1   site_code         402 non-null    int64
 2   site_name         402 non-null    object
 3   pollutant_number  402 non-null    int64
 4   pollutant_name    402 non-null    object
 5   average_aqi       402 non-null    float64
dtypes: float64(1), int64(3), object(2)
memory usage: 19.0+ KB
None

EPA AQI Memphis PER YEAR - First 5 Rows:
   year  site_code              site_name  pollutant_number  \
0  1972         21  Frayser Ozone Monitor             42101
1  1972         21  Frayser Ozone Monitor             42602
2  1972         21  Frayser Ozone Monitor             44201
3  1973         21  Frayser Ozone Monitor             42101
4  1973         21  Frayser Ozone Monitor             42602

           pollutant_name  average_aqi
0         Carbon monoxide    26.322581
1  Nitrogen dioxide (NO2)    30.482759
2                   Ozone    16.552083
3         Carbon monoxide    35.275862
4  Nitrogen dioxide (NO2)    23.161290

In [12]:
annual_aqi_df.to_csv(AQI_PER_YEAR_OUTPUT_PATH, index=False)

print(f"Annual AQI summary has been saved to '{AQI_PER_YEAR_OUTPUT_PATH}'")
print(annual_aqi_df.head())

Annual AQI summary has been saved to 'intermediate/stage1-output/epa_AQI_per_YEAR.csv'
   year  site_code              site_name  pollutant_number  \
0  1972         21  Frayser Ozone Monitor             42101
1  1972         21  Frayser Ozone Monitor             42602
2  1972         21  Frayser Ozone Monitor             44201
3  1973         21  Frayser Ozone Monitor             42101
4  1973         21  Frayser Ozone Monitor             42602

           pollutant_name  average_aqi
0         Carbon monoxide    26.322581
1  Nitrogen dioxide (NO2)    30.482759
2                   Ozone    16.552083
3         Carbon monoxide    35.275862
4  Nitrogen dioxide (NO2)    23.161290