In [24]:
import json
import pandas as pd

In [25]:
with open('ei_intermediate_file_paths.json') as output_path_file:
    file_paths = json.load(output_path_file)

NOAA_PROCCESSED_INPUT_PATH = file_paths.get("stage1_noaa_output.csv")

BLS_PROCESSED_INPUT_PATH = file_paths.get("stage1_bls_output.csv")

In [26]:
# Load the datasets into dataframes
noaa_df = pd.read_csv(NOAA_PROCCESSED_INPUT_PATH)
bls_df = pd.read_csv(BLS_PROCESSED_INPUT_PATH)

In [27]:
print("First rows of BLS Dataset")
print(bls_df.head(5))

First rows of BLS Dataset
         date  curr_sae_hrs  curr_laus_labor_force  \
0  2024-12-01           NaN                    NaN
1  2024-11-01           NaN                    NaN
2  2024-10-01           NaN                    NaN
3  2024-09-01          36.0               449955.0
4  2024-08-01          36.2               449065.0

   curr_laus_unemployment_rate  prev_yr_sae_hrs  prev_yr_laus_labor_force  \
0                          NaN             36.0                       NaN
1                          NaN             35.5                       NaN
2                          NaN             35.9                       NaN
3                          3.3             35.9                  442970.0
4                          3.2             36.5                  440564.0

   prev_yr_laus_unemployment_rate  pct_diff_sae_hrs  \
0                             NaN               NaN
1                             NaN               NaN
2                             NaN               NaN
3                             3.1          0.278552
4                             3.2         -0.821918

   pct_diff_laus_labor_force  pct_diff_laus_unemployment_rate
0                        NaN                              NaN
1                        NaN                              NaN
2                        NaN                              NaN
3                   1.576856                         6.451613
4                   1.929572                         0.000000

In [28]:
print("BLS Columns")
print(bls_df.columns)


bls_num_rows = bls_df.shape[0]
print(f"Number of rows in BLS Dataset: {bls_num_rows}")

BLS Columns
Index(['date', 'curr_sae_hrs', 'curr_laus_labor_force',
       'curr_laus_unemployment_rate', 'prev_yr_sae_hrs',
       'prev_yr_laus_labor_force', 'prev_yr_laus_unemployment_rate',
       'pct_diff_sae_hrs', 'pct_diff_laus_labor_force',
       'pct_diff_laus_unemployment_rate'],
      dtype='object')
Number of rows in BLS Dataset: 216

In [29]:
print("First rows of the NOAA Dataset")
print(noaa_df.head(5))

print("\nColumn names in NOAA dataset:")
print(noaa_df.columns)


noaa_num_rows = noaa_df.shape[0]
print(f"Number of rows in NOAA Dataset: {noaa_num_rows}")

First rows of the NOAA Dataset
                                   NAME        DATE  TAVG  TMAX  TMIN   PRCP
0  MEMPHIS INTERNATIONAL AIRPORT, TN US  2009-09-01  75.7  83.4  68.0   8.60
1  MEMPHIS INTERNATIONAL AIRPORT, TN US  2009-10-01  60.7  69.0  52.5  10.55
2  MEMPHIS INTERNATIONAL AIRPORT, TN US  2009-11-01  55.1  65.1  45.1   1.37
3  MEMPHIS INTERNATIONAL AIRPORT, TN US  2009-12-01  40.9  48.3  33.5   5.13
4  MEMPHIS INTERNATIONAL AIRPORT, TN US  2010-01-01  37.1  45.2  29.0   3.93

Column names in NOAA dataset:
Index(['NAME', 'DATE', 'TAVG', 'TMAX', 'TMIN', 'PRCP'], dtype='object')
Number of rows in NOAA Dataset: 181